header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & > .select {
    flex-basis: 150px;
  }
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  & > .alphabet {
    flex-basis: 240px;
    padding: 10px;
    border: solid 1px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px 10px 39px;
    margin: 0 5px 5px 0;
  }
}